<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>TOP</title>
</head>
<body>
<div class="header-contents">
    <h1>匿名掲示板</h1>
</div>
<div class="main-contents">
    <a href="/new">
        <button class="new-button" type="button">新規投稿</button>
    </a>
<!--カレンダー表示-->
    <div class="calendar">
        <form th:action="@{./}" th:method="get">
           日付 : <input type="date" name="start" value="${start}">
            <input type="date" name="end" value="${end}">
            <input type="submit" value="絞込">
        </form>
    </div>
<!--投稿内容表示-->
    <div class="message-icon" th:each="content : ${contents}">
        <div>
            ID : <span th:text="${content.id}"/>
        </div>
        <div class="text">
            投稿 : <span th:text="${content.content}"/>
        </div>
        <!--<div class="date">
            <span th:text="${content.updatedDeta}"/>
        </div>-->
<!--削除と編集ボタン表示-->　
        <div class="delete-button">　<!--content.idを使いたいからmessage-iconのdivの中に処理を書く-->
            <!--{/delete/{id} method先を指定　(id=${content.id})}＝contentidが1の場合はdelete/1となる-->
            <form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
                <input type="submit" value="削除">
                <div class="edit-button">
                    <a th:href="@{/edit/{id}(id=${content.id})}">
                        <input type="button" value="編集"></a>
                </div>
            </form>
        </div>
<!--コメント内容表示と編集と削除ボタン追加-->
       <div class="comments-icon" th:each="comment : ${comments}">
            <div th:if="${comment.reportId == content.id}">
                コメント : <span th:text="${comment.content}"/>
                <div class="edit-button">
                    <a th:href="@{/commentEdit/{id}(id=${comment.id})}">
                        <input type="button" value="編集">
                    </a>
                 </div>
                <div class="delete-button">
                    <form th:action="@{/commentDelete/{id}(id=${comment.id})}" th:method="delete">
                        <input type="submit" value="削除">
                    </form>
                </div>
            </div>
        </div>
        <!--エラーメッセージの表示
        <div th:if="${!#lists.isEmpty(errorMessages)}">
            <div th:if="${reportId == content.id}">
                <div class="errorMessages" th:each="messages : ${errorMessages}">
                    <span th:text="${messages}"/>
                </div>
            </div>
        </div>-->
<!--コメント入力フォームとコメントボタンの表示-->
        <form method="post" action="/commentAdd">
            <div class="form-area">
                <label>コメント入力欄</label>
                <textarea class="tweet-box" name="content" size="20"  maxlength="200"></textarea><br/>
                <input type="submit" value="コメント" />
                <input type="hidden" name="reportId" th:value="${content.id}"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>
